body {
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
    background: #fff;
    padding: 20px;
}

form {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.coursContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card {
    background: #efefef;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.card:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageContainer{
    width:100%;


}


.imageContainer img{
    width:100%;
    height:15rem;
    display:block;
    object-position: center;

}


.infoContainer{
    padding:30px;
}

h2 { margin:0 0 6px; }
.type { color:#555; font-size:14px; margin-bottom:10px; }
p { margin:0; }


.badge-type{
    margin-top: 1rem;
    text-align:center;
    background:dodgerblue; color: #fff;
    width: 25%;
    height: 20px;
    border-radius: 8px;

}

